<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.dao.GroupMapper">
    <resultMap id="BaseResultMap" type="com.lw.entity.Group">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="logo" jdbcType="VARCHAR" property="logo" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="createTime" jdbcType="VARCHAR" property="createTime" />
        <result column="contact" jdbcType="VARCHAR" property="contact" />
        <result column="match" jdbcType="VARCHAR" property="match" />
    </resultMap>

    <!--    <sql id="Base_Column_List">-->
    <!--        id,`username`,`nickname`,title,content,subject,status,groupId,groupName,createTime-->
    <!--    </sql>-->

    <insert id="insertGroup" parameterType="com.lw.entity.Group">
        insert into `group`(id,`name`,status,logo,description,creator,createTime,contact,`match`)
        values(#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},
        #{logo,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR},#{contact,jdbcType=VARCHAR},#{match,jdbcType=VARCHAR})
    </insert>

    <select id="getGroupById" parameterType="java.lang.String" resultType="com.lw.entity.Group">
        select * from `group` where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getNowGroup" parameterType="java.lang.String" resultType="com.lw.entity.Group">
        select * from `group`
        where status in ('1','2')
        order by createTime desc
    </select>

    <select id="getGroup" parameterType="java.lang.String" resultType="com.lw.entity.Group">
        select * from `group`
        where 1=1
        <if test="status!=null and status !=''">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="creator!=null and creator != ''">
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        order by createTime desc
    </select>

    <update id="updateGroup" parameterType="java.lang.String">
        update `group` set status = #{status,jdbcType=VARCHAR}
        where id = #{groupId,jdbcType=VARCHAR}
    </update>

    <update id="updateMatch" parameterType="java.lang.String">
        update `group` set `match`= #{match,jdbcType=VARCHAR} where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="listGroupMatch" resultType="com.lw.entity.Group">
        select * from `group` where `match` = 'match' and status = '1'
    </select>

    <select id="selectMatch" resultType="java.lang.Integer">
        select count(*) from `group` where id = #{id,jdbcType=VARCHAR} and `match` = 'match' and status = '1'
    </select>
</mapper>